<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit username</title>

</head>
<body>
    <h2>Your are about to edit this use: <%= user.email %></h2>
    <form action="/user/<%= user.id %>?_method=patch" method="post" >
        <textarea name="username" <%= user.username %>></textarea>
        <input type="password" name="password" placeholder="enter your password">
        <button>edit</button>
    </form>
</body>
</html>